---
import NavBar from "@/components/NavBar.astro";
import Layout from "@/layouts/Layout.astro";
export const prerender = true;
---

<Layout title="Aboout US ...">
  <h1>Estamos en about</h1>

  <NavBar />
</Layout>
