---

---

<style>
  .enlace {
    color: orange;
    text-decoration: none;
    margin-left: 1rem;
  }
  .enlace:hover {
    color: orangered;
  }
</style>
<nav class="hero-nav">
  <a class="enlace" href="/">Home</a>
  <a class="enlace" href="/faq">Faq</a>
  <a class="enlace" href="/about">About</a>
  <a class="enlace" href="/products">Products</a>
</nav>
