---
import NavBar from "@/components/NavBar.astro";
import Layout from "@/layouts/Layout.astro";

let nombre = "john";
export const prerender = true;
---

<Layout title=" Product ">
  <h1>Productos</h1>

  <p>My name is {nombre}</p>

  <NavBar />
</Layout>
