---
import Layout from "@/layouts/Layout.astro";
import NavBar from "@/components/NavBar.astro";
const { title, descrption } = Astro.props;
export const prerender = true;
---

<Layout
  title="Preguntas frecuentes"
  description="Aqui puedes ver la descripcion"
>
  <style>
    li {
      color: blue;
      list-style: none;
    }
  </style>
  <h1>FAQ</h1>
  <div>
    <p>
      Hola a todos . Esto es un ejemplo de markdown que hace -Listas -Con -Items
    </p>

    <p>**Negritas**, _cursiva_...</p>

    <ul>
      <li>1)Lista</li>
      <li>2)Con</li>
      <li>3)Orden</li>
    </ul>
    <NavBar />
  </div>
</Layout>
